<!DOCTYPE html>
<html>
<title>Squirrel Statistics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Statistics of Squirrels</h2>
  <p>Following statistics are calculated based on the Squirrel Database provided by the NYC:</p>

  <table class="w3-table-all w3-card-4">
    <tr>
      <th>Parameters</th>
      <th>Values</th>
    </tr>
    <tr>
      <td>Total number of squirrels viewed:</td>
      <td>{{squnumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed in the morning:</td>
      <td>{{amnumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed in the afternoon and night:</td>
      <td>{{pmnumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed are adults:</td>
      <td>{{adultnumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed are Junivile:</td>
      <td>{{junumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed with gray fur:</td>
      <td>{{graynumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed with cinnamon fur:</td>
      <td>{{cinnumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed with black fur:</td>
      <td>{{blacknumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed on ground plane:</td>
      <td>{{groundnumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed above ground:</td>
      <td>{{abgrnumber}}</td>
    </tr>
    <tr>
      <td>Total number of Squirrels viewed are running:</td>
      <td>{{runnumber}}</td>
    </tr>
  </table>
</div>

</body>
</html>